.content {
    padding: 0 15px;
}
.category-item {
    color: #00A4EF;
    margin-right: 10px;
    cursor: pointer;
}
.tweet-container {
    display: none;
    height: 60vh;
    width: 100%;
    background: #2f3238;
    padding: 0 0px;
    padding-bottom: 10px;
    overflow-y: scroll;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.445);
}
.tweet-item {
    color: #FFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.445);
    word-break: break-all;
    margin: 10px 0;
    font-size: 16px;
    padding-bottom: 10px;
    max-width: 90vh;
}
.profile-image {
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ccc;
}
.tweet-text {
    margin: 5px 0;
    font-size: 15px;
}
.input-search {
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid #d3dfef;
    font-size: 14px;
    letter-spacing: 0.3px;
    padding: 14px 20px;
}
.btn {
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid #d3dfef;
    font-size: 14px;
    letter-spacing: 0.3px;
    padding: 14px 20px;
    transition: all 0.2s linear;
    box-shadow: 0 4px 16px 0 rgba(69, 91, 99, 0.08);
}
